<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    .test{background: #00263A; display: inline-block; width: 20%; padding: 15px;margin-top: 15px; border-radius: 10px;color: #ffffff; margin-bottom: 20px;}
    a{font-size:"Open sans";text-decoration: none; color: #000000;}
    </style>
</head>
		<div class="mb-5">
			<h1 class="text-center">Fin d'intégration - {{step.customer}}</h1>
			<hr>
			<div class="mb-5"></div>
            <p>Julien,</p>
            <p>Nous avons fini l'intégration du site <a href="{{step.domain}}">{{step.domain}}</a></p>
            <p>Peux-tu faire le nécessaire auprès de Google s'il te plaît ?</p>
            <p>Merci ! </p>
            <p>Bonne journée à toi :)</p>
            <p>Cordialement,</p>
            <img src="https://projetsclients.shebam.fr/assets/images/signature-mail-support-ete-2022.png">
		</div>
</html>