{% extends 'base.html.twig' %}
{% block title %}Inscription Réussiste - Liste des tâches{% endblock %}
{% block content %}
<meta http-equiv="refresh" content="7;url=/"/>
<div class="form-signin text-center background-login was-validated bg-white-shebam was-validated align-middle">
	<h2 class="mb-3">Inscription Réussite</h2>
    <hr class="mb-3">
    <p>Tu es bien inscrit sur la liste des tâches !</p>
    <p>Tu vas être redirigé sur la page de connexion</p>
</div>
{% endblock %}

