{% extends 'base.html.twig' %}
{% block title %}Lien de réinitialisation - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}
{% block content %}


{% block body %}
<div class="was-validated form-signin text-center background-login bg-white-shebam is-valid">
    <h2 class="text-center mb-4">Lien envoyé</h2>
    <p>Un email pour modifier ton mot de passe vient de t'être envoyé sur la boîte email.
    <p class="mb-4"><span style="font-size:15px; font-style: italic;">N'oublie pas de vérifier tes spams</span></p>
    <a href="{{ path('app_login') }}" class="btn-blue-shebam">Connexion</a>
</div>
{% endblock %}
{% endblock %}
