{% extends 'base.html.twig' %}

{% block title %}Mot de passe changé - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}
    <div class="was-validated form-signin text-center background-login bg-white-shebam is-valid">
        <meta http-equiv="refresh" content="5;url=/"/>
        <h3>Mot de passe changé</h3>
        <hr>
        <p>Le mot de passe a bien été changé !</p>
        <p>Tu vas être redirigé vers la page de connexion dans 5 secondes.</p>
    </div>

{% endblock %}