:root{
    --color-white: #ffffff;
    --color-white-light: #f4f0f4;
    --color-black: #000000;
    --color-yellow-dark: #caa904;
    --color-grey: #b1a7a6;
    --color-red: #a4161a;
    --yellow-shebam: #FFD600;
    --blue-light-shebam: #34BDE8;
    --blue-dark-shebam: #00263A;
    --pink-shebam: #DE99C3;
    --green-light-shebam: #6CBFA5;
    --green-dark-shebam: #155724;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))}*,*::before,*::after{box-sizing:border-box}

/* Texts and Backgrounds */
.color-white-shebam{color: var(--color-white)}
.color-white-light-shebam{color: var(--color-white-light)}
.color-black-shebam{color: var(--color-black)}
.color-red{color: var(--color-grey)}
.color-yellow-dark{color: var(--color-yellow-dark)}
.color-yellow-shebam{color: var(--yellow-shebam)}
.color-grey-shebam{color: var(--color-grey)}
.color-blue-light-shebam{color: var(--blue-light-shebam)}
.color-blue-dark-shebam{color: var(--blue-dark-shebam)}
.color-pink-shebam{color: var(--pink-shebam)}
.color-green-light-shebam{color: var(--green-light-shebam)}
.color-green-dark-shebam{color: var(--green-dark-shebam)}

.bg-white-shebam{background: var(--color-white)}
.bg-white-light-shebam{background: var(--color-white-light)}
.bg-black-shebam{background: var(--color-black)}
.bg-red{background: var(--color-red)}
.bg-yellow-dark{background: var(--color-yellow-dark)}
.bg-yellow-shebam{background: var(--yellow-shebam)}
.bg-grey-shebam{background: var(--color-grey)}
.bg-blue-light-shebam{background: var(--blue-light-shebam)}
.bg-blue-dark-shebam{background: var(--blue-dark-shebam)}
.bg-pink-shebam{background: var(--pink-shebam)}
.bg-green-light-shebam{background: var(--green-light-shebam)}
.bg-green-dark-shebam{background: var(--green-dark-shebam)}

/* Administration */
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#5d6778;background: var(--color-white-light);margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.table td, .table th {text-align: center;border-right: none !important;border-left: none !important;border-top: none !important}
.img-admin{height: 150px;width: 148px;margin-left: 17%;}


.app-header{box-shadow:0 1px 4px 0 rgba(0,0,0,.1);border-bottom:1px solid #e7e9ed;height:56px;background:#fff}.app-header-inner{position:relative}
.app-utility-item{display:inline-block;margin-right:1.25rem}.app-utility-item:last-child{margin-right:0}.app-utility-item>a{color:#5d6778}.app-utility-item>a:hover{color:#252930}

.app-sidepanel{position:fixed;min-height:100vh;height:100%;left:0;top:0;font-size:.875rem;border-right:1px solid #e7e9ed}.app-sidepanel .panel-drop{display:none}.app-sidepanel .sidepanel-inner{position:relative;z-index:10;background:#fff;box-shadow:rgba(0,0,0,.05) 0px 8px 15px;width:250px;height:100%}.app-sidepanel .sidepanel-close{display:none;position:absolute;z-index:20;right:-2rem;top:0;color:#fff;font-size:2rem}.app-sidepanel.sidepanel-hidden{left:-400px}.app-sidepanel.sidepanel-visible{left:0}.app-sidepanel .app-nav-main{overflow-y:auto;scrollbar-color:rgba(0,0,0,.1) #e7e9ed;scrollbar-width:thin}.app-sidepanel .app-nav-main::-webkit-scrollbar{width:6px;background-color:#e7e9ed}.app-sidepanel .app-nav-main::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.1);border-radius:.5rem}
.app-branding{height:60px;padding-top:1rem;padding-left:1rem;margin-bottom:1rem}.app-branding .logo-icon{width:36px;height:36px}.app-branding .logo-text{color:#252930;font-size:1.25rem;font-weight:600;vertical-align:middle}.app-nav{color:#5d6778;display:block;padding:0;width:100%}.app-nav .app-menu{margin-bottom:0}.app-nav .nav-item{display:block;color:#5d6778;background:#fff}.app-nav .nav-link{display:block;padding:.875rem 1rem;color:#00263A;position:relative;display:block;padding-left:3rem;border-left:3px solid transparent}.app-nav .nav-link.active{color:#15a362;background:#edfdf6;border-left:3px solid #15a362;font-weight:500}.app-nav .nav-link:hover{color:var(--color-yellow-dark)}.app-nav .nav-icon{position:absolute;left:1rem;top:.7rem}.app-nav .nav-icon .bi{width:1.25rem;height:1.25rem}.app-sidepanel-footer{width:100%;bottom:0;left:0;border-top:1px solid #e7e9ed;background:#f5f6fe}.app-sidepanel-footer .app-nav-footer{margin-bottom:0}@media(max-width: 1199.98px){.app-sidepanel{transition:all .4s ease-in-out;left:-400px}}@media(max-width: 1199.98px)and (prefers-reduced-motion: reduce){.app-sidepanel{transition:none}}@media(max-width: 1199.98px){.app-sidepanel.sidepanel-visible{display:block}}@media(max-width: 1199.98px){.sidepanel-visible .sidepanel-close{display:inline-block}}@media(max-width: 1199.98px){.sidepanel-visible .sidepanel-drop{position:fixed;display:block;min-height:100vh;height:100%;width:100%;min-width:100vw;left:0;top:0;background:rgba(0,0,0,.35)}}@media(min-width: 1200px){.app-wrapper{margin-left:250px}}
.app{min-height:100vh;height:100%;width:100%;padding-top:56px;overflow-x:hidden}.app-wrapper{transition:all .4s ease-in-out}@media(prefers-reduced-motion: reduce){.app-wrapper{transition:none}}.app-page-title{font-size:1.5rem;font-weight:bolder;margin-bottom:1.5rem}
.modal-content .modal-body2{margin-left: 16px !important;}
.modal-content{padding-bottom: 20px !important;}



